<!--=== Footer ===-->
<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4 md-margin-bottom-40">
                <!-- About -->
            <div class="headline"><h2>关于我们</h2></div> 
        <p class="margin-bottom-25 md-margin-bottom-40">大脸猫提供高品味的网站建设和定制个性化的APP。</p>  

              <!-- Monthly Newsletter -->
            <div class="headline"><h2>订阅邮件</h2></div> 
        <p>你可以在下面填写邮件地址，然后将会定期收到我们的最新动态！</p>
        <form class="footer-subsribe">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Email Address">                            
                        <span class="input-group-btn">
                            <button class="btn-u" type="button">Subscribe</button>
                        </span>
                    </div><!-- /input-group -->                    
        </form>             
      </div><!--/col-md-4-->  
      
      <div class="col-md-4 md-margin-bottom-40">
                <div class="posts">
                    <div class="headline"><h2>最近的博文</h2></div>
                    <dl class="dl-horizontal">
                        <dt><a href="#"><img src="/assets/img/sliders/elastislide/6.jpg" alt="" /></a></dt>
                        <dd>
                            <p><a href="#">Anim moon officia Unify is an incredibly beautiful responsive Bootstrap Template</a></p> 
                        </dd>
                    </dl>
                    <dl class="dl-horizontal">
                    <dt><a href="#"><img src="/assets/img/sliders/elastislide/10.jpg" alt="" /></a></dt>
                        <dd>
                            <p><a href="#">Anim moon officia Unify is an incredibly beautiful responsive Bootstrap Template</a></p> 
                        </dd>
                    </dl>
                    <dl class="dl-horizontal">
                    <dt><a href="#"><img src="/assets/img/sliders/elastislide/11.jpg" alt="" /></a></dt>
                        <dd>
                            <p><a href="#">Anim moon officia Unify is an incredibly beautiful responsive Bootstrap Template</a></p> 
                        </dd>
                    </dl>
                </div>
      </div><!--/col-md-4-->

      <div class="col-md-4">
              <!-- Monthly Newsletter -->
            <div class="headline"><h2>联系我们</h2></div> 
                <address class="md-margin-bottom-40">
          25, Lorem Lis Street, Orange <br />
          California, US <br />
          Phone: 800 123 3456 <br />
          Fax: 800 123 3456 <br />
          Email: <a href="mailto:info@anybiz.com" class="">info@anybiz.com</a>
                </address>

                <!-- Stay Connected -->
            <div class="headline"><h2>让我们保持联系</h2></div>  
                <ul class="social-icons">
                    <li><a href="#" data-original-title="Feed" class="social_rss"></a></li>
                    <li><a href="#" data-original-title="Facebook" class="social_facebook"></a></li>
                    <li><a href="#" data-original-title="Twitter" class="social_twitter"></a></li>
                    <li><a href="#" data-original-title="Goole Plus" class="social_googleplus"></a></li>
                    <li><a href="#" data-original-title="Pinterest" class="social_pintrest"></a></li>
                    <li><a href="#" data-original-title="Linkedin" class="social_linkedin"></a></li>
                    <li><a href="#" data-original-title="Vimeo" class="social_vimeo"></a></li>
                </ul>
      </div><!--/col-md-4-->
    </div><!--/row--> 
  </div><!--/container--> 
</div><!--/footer-->  
<!--=== End Footer ===-->

<!--=== Copyright ===-->
<div class="copyright">
  <div class="container">
    <div class="row">
      <div class="col-md-6">            
              <p class="copyright-space">
                    2013 &copy; Big face cat. ALL Rights Reserved. 
                    <a href="#">Privacy Policy</a> | <a href="#">Terms of Service</a>
                </p>
      </div>
      <div class="col-md-6">  
        <a href="index.html">
                    <img id="logo-footer" src="/assets/img/logo2-default.png" class="pull-right" alt="" />
                </a>
      </div>
    </div><!--/row-->
  </div><!--/container--> 
</div><!--/copyright--> 
<!--=== End Copyright ===-->

<!-- JS Global Compulsory -->     
<script type="text/javascript" src="/assets/plugins/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="/assets/plugins/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script> 
<script type="text/javascript" src="/assets/plugins/hover-dropdown.min.js"></script> 
<script type="text/javascript" src="/assets/plugins/back-to-top.js"></script>
<!-- JS Implementing Plugins -->           
<script type="text/javascript" src="/assets/plugins/flexslider/jquery.flexslider-min.js"></script>
<script type="text/javascript" src="/assets/plugins/parallax-slider/js/modernizr.js"></script>
<script type="text/javascript" src="/assets/plugins/parallax-slider/js/jquery.cslider.js"></script> 
<!-- JS Page Level -->           
<script type="text/javascript" src="/assets/js/app.js"></script>